:root {
  --default-font-family: "Josefin Sans", sans-serif;
  --el-yazisi-font-family: "Edu TAS Beginner", cursive;
  --btn-font-family: "VT323", monospace;
  --primary-color: #004792;
  --secondary-color: #1173dc;
  --bg-color: rgba(0, 124, 206, 0.3);
  --link-color: #004792;
  --shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--default-font-family);
}

header {
  text-align: center;
  padding: 180px 10px;
  background-color: var(--bg-color);
}

h1 {
  font-family: var(--ada-yeis-font-family);
  font-size: 96px;
  font-weight: 600;
}
